{{template "partials/atas" .}}
<div class="album py-5 bg-light">
	<div class="container">
		<h1>Edit Video</h1>
		<div class="card">
			<div class="card-body">
				<form method="POST" action="/videos/editvideo/{{.Videos.Id}}" class="mt-4" enctype="multipart/form-data">
					<div class="mb-3">
						<div class="form-floating">
							<input type="text" class="form-control" name="title" id="title" value="{{.Videos.Title}}">
							<label for="name">Judul Video</label>
						</div>
					</div>
					<div class="mb-3">
						<div class="form-floating">
							<textarea type="text" class="form-control" name="description" id="description" >{{.Videos.Description}}</textarea>
							<label for="deskripsi">Deskripsi Video</label>
						</div>
					</div>
					<div class="mb-3">
						<label for="tumb" class="form-label">Tumbnail</label>
						<input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="tumb" name="tumb" required>
					</div>
					<div class="mb-3">
						<label for="video" class="form-label">Video</label>
						<input type="file" accept="video/mp4, video/mkv, video/webm, video/ogg" class="form-control" id="video" name="video" required>
					</div>
					<button type="submit" class="btn btn-outline-primary">
						Kirim
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
							<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
							<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
						  </svg>
					</button>&nbsp;
					<a href="/videos" class="btn btn-outline-success">
						Kembali
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
							<path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/>
						</svg>
					</a>
				</form>
			</div>
		</div>
	</div>
</div>
{{template "partials/bawah" .}}
