{{template "partials/header" .}}
<div class="videos">
    <!-- a video starts -->
      <div class="video">
         <div class="thumbnail">
            <img src="https://img.youtube.com/vi/8mcuSIenzCw/maxresdefault.jpg" alt="" />
          </div>
  
            <div class="details">
               <div class="author">
                  <img src="https://yt3.ggpht.com/h8eWl3Pd2T_rBIDX8ij_zBjo6uJp1Quej_nfakGr1G4lqdQidjXK0p74AMOLaPBtsUEWDe-2AdQ=s900-c-k-c0x00ffffff-no-rj" alt="" />
               </div>
               <div class="title">
                  <h3>
                    AKUN KU SUDAH TIDAK DI BAN! SEMOGA DAPAT NILOU! Genshin Impact
                   </h3>
                   <a href="">
                          Windah Basudara
                    </a>
                    <span> 2M Views • 3 Months Ago </span>
               </div>
             </div>
  
           </div>
     <!-- a video Ends -->
       

{{template "partials/footer" .}}
